@use '../abstracts/mixins' as * ;
@use '../abstracts/variables' as * ;

// Features
.features {
    background-color: hsl(250deg 30% 96%);
    padding: 90px 0;
}
.upper-section {
    max-width: toRem(520);
    margin: 0 auto toRem(100);
    text-align: center;
}
.lower-section {
    position: relative;
    margin-bottom: toRem(100);
}
.lower-section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 100%;
    width: .5rem;
    background-color: $cyan;
    @include media('lg') {
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        height: .5rem;
        width: 100%;
    }
}
.lower-section .row {
    gap: 90px;
    @include media('md') {
        text-align: center
    }
    @include media('lg') {
        flex-direction: row;
        gap: toRem(28);
        text-align: left;
    }
}

// Card in the Features section
.card {
    background-color: $white;
    position: relative;
    padding: toRem(80) 1.5rem toRem(40); 
    border-radius: 7px;
    @include media('md') {
        max-width: toRem(350);
    }
}
.card__image {
    width: toRem(88);
    height: toRem(88);
    @include flex($direction:row, $justify: center); 
    border-radius: 50%;
    background-color: $dark-violet;
    position: absolute;
    top: -2.75rem;
    left: 50%;
    transform: translateX(-50%);
    @include media('lg') {
        left: toREm(72);
    }
}
.card__text {
    font-size: 1rem;
    line-height: 1.7;
    font-weight: 500;
    color: $grayish-violet;
    @include media('lg') {
        font-size: .935rem;
    }
}
.card:nth-child(2) {
    @include media('lg') {
        transform: translateY(44px);
    } 
}

.card:nth-child(3) {
    @include media('lg') {
        transform: translateY(88px);
    } 
}
