@use '../abstracts/mixins' as * ;
@use '../abstracts/variables' as * ;

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
::selection {
    color: $cyan
}
input {
    border: none;
}
button {
    border: none;
    background: none;
    padding: 0;
}  
a { 
    text-decoration: none;
}
.resize-animation-stopper {
    animation: none !important;
    transition: none !important;
}
  
body {
    font-family: $main-font;
    text-align: center;
    @include media('md') {
        text-align: left;
    }
}
.row {
    @include flex($direction: column, $justify: space-between);
}
.disable-scroll {
    overflow: hidden;
}
.header-1 {
    font-size: 2.5rem;
    line-height: 1.125;
    font-weight: 700;
    color: $very-dark-blue;
    margin: 25px 0;
    @include media('lg') {
        font-size: 5rem;
        letter-spacing: -2px;
        margin-bottom: 0;
    }
}
.header-2 {
    font-size: 1.625rem;
    margin-bottom: 33px;  
    color: $very-dark-blue;
    @include media('lg') {
        font-size: 2.375rem;
    }
}
.header-3 {
    font-size: 1.375rem;
    color: $very-dark-blue;
    margin-bottom: 20px;
}
.header-4 {
    font-size: .9375rem;
    margin-bottom: 30px;
}
.page__para {
    font-size: 1rem;
    line-height: 1.7;
    font-weight: 500;
    color: $grayish-violet;
    @include media('lg') {
        font-size: 1.125rem;
    }
}
// Header

// Logo
.header__logo-link {
    &:focus {
        outline: .2em dashed $cyan;
        outline-offset: .2em
    }
}
.header__logo-image {
    width: 121px;
    height: 33px;
}

// Header Navbar
.header__navbar {
    @include flex($direction:row, $justify: space-between); 
    padding: 2.375rem 0 1.75rem;
    position: relative;
    gap: 22px;
    @include media('lg') {
        padding: 46px 0;
    }
}
.header__navbar[data-overlay]::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 120vh;
    background-image: linear-gradient(rgb(0 0 0 / 0), hsl(255, 11%, 22%, .8));    z-index: 9;
}

// Navigation 
.navigation {
    @include media('lg') {
     flex: 1;
    }
}

// Toggle Button
.toggle-btn {
    position: relative;
    right: -16px;
    width: 56px;
    height: 56px;
    padding: 16px;
    @include flex($direction:row, $justify: space-between); 
    flex-wrap: wrap;
    cursor: pointer;
    z-index: 12;
    @include media('lg') {
        display: none;
    }
}
.line {
    height: 2px;
    width: 24px;
    background-color: $grayish-violet;
    transition: .4s ease-in-out;
}
.toggle-btn.toggle .line-1{
    transform: rotate(-45deg);
    transform-origin: top right;
}

.toggle-btn.toggle .line-2 {
    opacity: 0;
}

.toggle-btn.toggle .line-3 {
    transform: rotate(45deg);
    transform-origin: bottom right;
}

// Navigation Items
.navigation-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 0;
    top: 100px;
    z-index: 10;
    background-color: $dark-violet;
    padding-inline: 1.5rem;
    min-width: 300px;
    border-radius: 7px;
    max-height: 0;
    text-align: center;
    overflow: hidden;
    transition: .25s linear;
    @include media('lg') {
        max-height: 133px;
        flex-direction: row;
        background-color: transparent;
        position: unset;
        @include flex($direction: row, $justify: space-between);
        padding-inline: 0;
        overflow: visible;
    }
}

.primary-navigation{
    padding-top: 40px;
    @include media('lg') {
        padding-top: 0;
        @include flex($direction: row, $justify: flex-start);
    }
}
.secondary-navigation {
    padding-bottom: 35px;
    @include media('lg') {
        padding-bottom: 0;
        @include flex($direction: row, $justify: flex-end);
        gap: 12px;
    }
}
.navigation-items > *,
.navigation-items li {
    width: 100%
}

.navigation-items li {
   @include media('lg') {
    width: unset;
   }
}
.navigation-items.appear {
    transition: max-height .35s ease-in-out, overflow .25s ease 1s;
    max-height: 380px;
    visibility: visible;
    // overflow: visible;
}
.nav-link{
    display: block;
    padding: .875rem 20px;
    color: $white;
    font-weight: 700;
    font-size: 1rem;
    transition: .2s ease-in-out;
    @include media('lg') {
        color: $grayish-violet;
        padding: 0.875rem 15px;
    }
    &:focus {
        outline: .2em dashed $cyan;
        outline-offset: .2em
    }
    &:hover {
        color: $cyan;
        @include media('lg') {
            color: $very-dark-blue
        }
    }
}

.secondary-navigation .nav-link {
    margin-bottom: 8px;
    @include media('lg') {
        margin-bottom: 0;
    }
}
// Seperator in the navigation
.separator {
    margin-bottom: 40px;
    position: relative;
    @include media('lg') {
        margin-bottom: 0;
    }
}
.separator::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -20px;
    width: 100%;
    height: 1px;
    background-color: rgba($color: (#fff), $alpha: .4);
}

// Hero section
.hero {
    position: relative;
    overflow: hidden;
    margin-bottom: 80px;
    @include media('md') {
        margin-bottom: 0;
    }
}
.hero .row {
    flex-direction: column-reverse;
    gap: 25px;
    @include media('md') {
        flex-direction: row;
    }
}
.hero__content {
    max-width: 520px;
    @include flex($direction:column, $justify: flex-start); 
    @include media('md') {
        align-items: flex-start;
    }
}
.hero__text{
    color: $grayish-violet;
    font-size: 1.125rem;
    line-height: 1.6;
    font-weight: 500;
    margin-bottom: 32px;
    @include media('lg') {
        margin-bottom: 1rem
    }
}

// The trick that the image comes out the container is let the img width: 150% and give it max-width: 725px that way it will shrink when you resize the bowser smaller
.hero__image img{
    max-width: 750px;
    width: 150%;
}


// Buttons
.btn {
    display: block;
    padding: .75rem 1rem;
    font-size: 1rem;
    font-weight: 700;
    color: $white;
    background-color: $cyan;
    transition: .2s ease-in-out;

    @include media('lg') {
        padding: 11px 20px
    }

    &:hover {
       background-color: $light-cyan;
    }
    &:focus {
        outline: .2em dashed $cyan;
        outline-offset: .2em
    }
}
.btn-rounded {
    font-size: 1.25rem;
    border-radius: 50px;
}
.btn-rounded-small {
    font-size: 1rem;
    border-radius: 50px;
}


// Form Section
.form  {
    background-color: hsl(250deg 30% 96%);
    margin-top: 160px;
}
.form  .row {
    width: 100%;
    gap: 24px;
    position: relative;
    z-index: 4;  
}

.shorten-form{
    background-color: $dark-violet;
    border-radius: 10px;
    padding: 20px 24px;
    width: 100%;
    margin-top: -80px;
    position: relative;
    overflow: hidden;
    @include media('lg') {
        padding: 48px 60px;
    }
}

.shorten-form::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 237px;
    height: 128px;
    background-image: url(../../images/bg-shorten-mobile.svg);
    background-repeat: no-repeat;
    z-index: 1;
}
.shorten-form > .row {
    gap: 14px;
    @include media('lg') {
        @include flex($direction: row, $justify:space-between);
        align-items: baseline;
    }
}
.s-br {
    border-radius: 8px;
}
.input-box {
    position: relative;
    width: 100%;
}
.input {
    padding: 11px 0.75rem;
    font-weight: 500;
    // border: 3px solid $white;
    @include media('lg') {
        flex: 1
    }
}
  
.input[data-invalid]{
    border: 3px solid #f46262;
    color: #f46262;
}
// .input:valid{
//     border: 3px solid $white;
// }
.input[data-invalid]:focus {
    outline: none;
}
.input:focus {
    outline: .3em dashed $white;
    outline-offset: .2em;
}
.input, form button{
    width: 100%;
}
.error {
    position: relative;
    bottom: -.5rem;
    left: 0;
    color: #f46262;
    font-size: .875rem;
    text-align: left;
    display: none;
}
.error[data-invalid]{
    display: block;
}
.shorten-form button {
    @include media('lg') {
        max-width: 185px
    }
}

// Dynamically added using JavaScript
.link__box {
    background-color: $white;
    border-radius: 10px;
    padding: 14px 0;
    width: 100%;
    text-align: left;
    @include media('md') {
        padding: 14px 35px;
        gap: 1rem;
        @include flex($direction: row, $justify:space-between) 
    }
}
.long-link {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 100%;
    display: inline-block;
    &:hover {
        text-decoration: underline;
        overflow: visible;
        word-break: break-all;
        white-space: unset;
    }
    @include media('md') {
        max-width: 300px;
        padding: 0;
        border: none;
    }
    @include media('lg') {
        font-size: 1.25rem;
    }
    &:focus {
        outline: .2em dashed $cyan;
        outline-offset: .2em
    }
}
.long-link__box {
    position: relative;
    padding: 10px 24px;
}
.long-link__box::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: $gray;
    @include media('md') {
        display: none;
    }
}

.short-link__box {
    padding: 15px 24px 0;
    @include media('md') {
        padding: 0;
        gap: 20px;
        @include flex($direction: row, $justify:space-between) 
    }
}

.short-link {
    color: $cyan;
    display: inline-block;
    margin-bottom: 10px;
    &:hover {
        text-decoration: underline;
    }
    @include media('md') {
        margin-bottom: 0;
    }
    @include media('lg') {
        font-size: 1.25rem;
    }
    &:focus {
        outline: .2em dashed $cyan;
        outline-offset: .2em
    }
}
.short-link__box .s-br {
    font-size: 1rem;
    padding: .5625rem .5rem;
}
.short-link__box button {
    width: 100%;
    @include media('md') {
        width: 103px;
    } 
}
// Features
.features {
    background-color: hsl(250deg 30% 96%);
    padding: 90px 0;
}
.upper-section {
    // margin-bottom:  90px;
    max-width: 520px;
    margin: 0 auto 90px;
    text-align: center;
}
.lower-section {
    position: relative;
    margin-bottom: 100px;
}
.lower-section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 100%;
    width: 8px;
    background-color: $cyan;
    @include media('lg') {
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        height: 8px;
        width: 100%;
    }
}
.lower-section .row {
    gap: 90px;
    @include media('md') {
        text-align: center
    }
    @include media('lg') {
        flex-direction: row;
        gap: 28px;
        text-align: left;
    }
}

// Card in the Features section
.card {
    background-color: $white;
    position: relative;
    padding: 80px 1.5rem 40px; 
    border-radius: 7px;
    @include media('md') {
        max-width: 350px;
    }
}
.card__image {
    width: 88px;
    height: 88px;
    @include flex($direction:row, $justify: center); 
    border-radius: 50%;
    background-color: $dark-violet;
    position: absolute;
    top: -44px;
    left: 50%;
    transform: translateX(-50%);
    @include media('lg') {
        left: 72px;
    }
}
.card__text {
    font-size: 1rem;
    line-height: 1.7;
    font-weight: 500;
    color: $grayish-violet;
    @include media('lg') {
        font-size: .935rem;
    }
}
.card:nth-child(2) {
    @include media('lg') {
        // margin-top: 88px
        transform: translateY(44px);
    } 
}

.card:nth-child(3) {
    @include media('lg') {
        // margin-top: 132px
           transform: translateY(88px);
    } 
}

// Boost Section
.boost {
    background-color: $dark-violet;
    padding-top: 100px;
    padding-bottom: 80px;
    position: relative;
    z-index: 2;
    @include media('lg') {
        padding-top: 60px;
        padding-bottom: 50px;
    }
}
.boost::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-image: url(../../images/bg-boost-mobile.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    z-index: 1;
    @include media('lg') {
        background-image: url(../../images/bg-boost-desktop.svg);
    }
}
.boost .row {
    position: relative;
    z-index: 2;
}
.boost .header-2 {
    color: $white;
}

// Footer
.footer {
    font-size: .9375rem;
    padding-bottom: 50px;
    padding-top: 50px;
    background-color: $very-dark-violet;
    color: $white;
    text-align: center;

    @include media('lg') {
        text-align: left;
        padding-bottom: 70px;
        padding-top: 70px;
    }
}
.footer__nav {
    @include flex($direction:column, $justify: space-between); 

    @include media('lg') {
        flex-direction: row;
        align-items: flex-start;
    }
}
// Footer's logo 
.ft__logo {
    display: inline-block;
    width: 120px;
    margin-bottom: 50px;
    &:focus {
        outline: .2em dashed $cyan;
        outline-offset: .2em
    }
}
.ft__logo  path{
    fill: $white;
    transition: all .35s ease-in;
}
.ft__logo:hover path {
    fill: $cyan;
}


.col-3:nth-of-type(3) {
    margin-bottom: 40px;
    @include media('lg') {
        margin-bottom: 0;
    }
}

// Footer's Nav Links
.ft__nav-link {
    color: $gray;
    display: block;
    font-weight: 500;
    margin-bottom: 1rem;
    &:focus {
        outline: .2em dashed $cyan;
        outline-offset: .2em
    }
    &:hover {
        color: $cyan;
        transition: color .2s ease-in-out;
    }
}

// Social links 
.social-links {
    flex-direction: row;
    gap: 22px;
    max-width: 168px
}
.social-link{
    @include flex($direction:column, $justify: center); 
    & path {
        transition: .2s ease-in-out;
      
    }
    &:hover path {
        fill: $cyan;
    }
    &:focus {
        outline: .2em dashed $cyan;
        outline-offset: .2em
    }
}

// Atribution 
.attribution {
    line-height: 1.3;
}
.attribution__link {
    display: inline-block;
    color: $gray;
    transition: color .2s ease-in-out;
    &:hover {
        color: $cyan
    }
}

.fade-in {
    opacity: 0;
    transition: opacity .75s ease-in
}
.fade-in.appear {
    opacity: 1;
}

.from-left {
    transform: translateX(-50%)
}
.from-right {
    transform: translateX(50%)
}
.from-left, 
.from-right {
    transition: opacity .35s ease-in, transform .6s linear;
    opacity: 0;
}
.from-left.appear, 
.from-right.appear {
    transform: translateX(0);
    opacity: 1;
}
// .from-up {
//     transform: translateY(-15%);
//     opacity: 0;
//     transition: opacity .25s ease-in , transform .6s ease-in;
// }
// .from-up.appear {
//     transform: translateY(0);
//     opacity: 1;
// }
// .from-down {
//     transform: translateY(15%);
//     opacity: 0;
//     transition: opacity .25s ease-in , transform .6s ease-in;
// }
// .from-down.appear {
//     transform: translateY(0);
//     opacity: 1;
// }
